html {
    height: 100%;
}

body {
    padding-top: 50px;
    height: 100%;
}

#code-row {
    height: 50%;
}

#out-row {
    position: fixed;
    top: calc(50% + 25px);
    bottom: 0;
    left: 0;
    right: 0;
}

.col-md-12, .col-xs-12 {
    padding: 0;
    position: fixed;
    top: 50px;
    bottom: calc(50% - 25px);
    left: 0;
    right: 0;
}

.CodeMirror {
    height: calc(50% - 25px);
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

.col-md-6 {
    height: 100%;
}

@media (max-width: 992px) {
    .col-md-6 {
        height: 50%;
    }
}

#output, #errors {
    border-radius: 0;
    margin: 0;
    height: 100%;
}

.label {
    position: absolute;
    right: 26px;
    top: 11px;
    font-size: 1em;
}

#loading-message, #error-message {
    display: none;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    margin-bottom: 0;
}
